/* Reset some default styles to ensure consistency */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Basic page styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #23267a;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(36, 64, 158, 0.1);
}

/* User information section styling */
#user-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Project information section styling */
#project-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#project-info p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Bug list styling */
#bug-list h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.bug-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.bug-item p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Button styling */
.close-bug-btn {
  background-color: #173186;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.close-bug-btn:hover {
  background-color: #45a049;
}
